/*
    This file has css to style the website

    Author: 
    Version: 1.00
    Date: 2022-05-10
*/

/* set default font for site */
* {
    font-family: "Inconsolata", sans-serif;
}

/* set special font for headings */
.navbar-dark,
.navbar-nav,
.nav-link,
.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/* page header location */
.page-header {
    padding-top: 1.5em;
}

/* copyright text location */
.copyright-text {
    font-size: 0.75em;
}

/* formatting for big images */
.blog-content-img-big {
    max-height: 1024px;
    max-width: 1024px;
    object-fit: contain;
}

/* formatting for medium images */
.blog-content-img-med {
    max-height: 512px;
    max-width: 512px;
    object-fit: contain;
}

/* formatting for small images */
.blog-content-img-small {
    max-height: 256px;
    max-width: 256px;
    object-fit: contain;
}

/* blinking class for underscores */
.blinking {
    animation: 1.5s blink step-end infinite;
    -webkit-animation: 1.5s blink step-end infinite;
    -moz-animation: 1.5s blink step-end infinite;
    -ms-animation: 1.5s blink step-end infinite;
    -o-animation: 1.5s blink step-end infinite;
}

@keyframes "blink" {
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes "blink" {
    50% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    50% {
        opacity: 0;
    }
}

@-ms-keyframes "blink" {
    50% {
        opacity: 0;
    }
}

@-o-keyframes "blink" {
    50% {
        opacity: 0;
    }
}

/* make buttons and icons look good */
.icon,
.btn {
    color: darkblue;
}

.icon:hover {
    color: #c8a2c8;
}

.btn:hover {
    border-color: #c8a2c8;
    background-color: #c8a2c8;
}

.btn-outline-primary {
    border: 4px solid;
}

/* style the navbar */
.nav-link.active {
    border-bottom: 4px solid;
    border-color: white;
}

.nav-link.active:hover {
    border-color: #c8a2c8;
}

.nav-tab-style.active {
    border-bottom: 4px solid;
    border-bottom-color: darkblue!important;
}

.nav-tab-style.active:hover {
    border-color: #dee2e6;
    border-bottom-color: #c8a2c8!important;
}

.navbar-brand {
    border-bottom: 4px solid;
    border-color: darkblue;
}

.navbar-brand:hover {
    border-color: #c8a2c8;
}

/* style the search box */
.search-box {
    background-color: #212529;
    color: white;
    border: 4px solid;
    border-color: darkblue;
    border-radius: .25rem;
}

.search-box:hover {
    border-color: #c8a2c8;
}

/* background colour for page */
body {
    background-color: #000000;
    color: #ffffff;
}
